<header>
	<a class="logo" href="#" title=""><img width="205" src="assets/images/logo.svg" alt="logo"></a>
    <div class="sticky-header">
    	<a class="sticky-logo" href="#" title=""><img width="100" src="assets/images/logo.svg" alt="logo"></a>
		<div class="nav-btn-group" (click)="openNavigation()">
			<span></span>
			<span></span>
			<span></span>
		</div>

		<div class="nav-btn-close" (click)="closeNavigation()">
			<span></span>
			<span></span>
		</div>

		<nav class="main-nav" id="main-nav"  [ngClass]="{ 'open': openNav == true  }" animateonscroll animationName="fade-in">

			<ul class="nav-menu">
				<li class="active" data-section="intro-block">
					<a (click)="activateItem($event); scrollToElm('intro-block',500,0);">INTRODUCTIE</a></li>
				<li data-section="combination">
					<a (click)="activateItem($event); scrollToElm('combination',500,-60);">WAT MOET JE DOEN?</a></li>
				<!-- <li data-section="store-locator">
					<a (click)="activateItem($event); scrollToElm('store-locator',500,-60);">VIND JE SUPERMARKT</a></li> -->
				<li data-section="footer">
					<a (click)="activateItem($event); scrollToElm('footer',500,0);">ACTIEVOORWAARDEN</a></li>
			</ul>
		</nav>
	</div>
</header>