<h2 class="wow fadeInUp" data-wow-delay="0.5s">VIND EEN DEELNEMENDE SUPERMARKT</h2>

<form (submit)="$event.preventDefault();" class="wow fadeInUp" data-wow-delay="0.7s">
	<label for="zipcode">Postcode</label>
	<input type="text" name="zipcode" id="zipcode" placeholder="1234 AB" (input)="validateZip(zipcode); limitChars($event.target,7);"
	[ngClass]="(errors.pattern==true)?'error':'success'" required #zipcode>
	<button class="btn btn-red" type="button" (click)="onSubmit(zipcode)">ZOEK</button>
</form>

<div class="zip-err-msg" *ngIf="errors.msg==true">Je hebt geen geldige postcode ingevoerd</div>

<aside class="store-locator__map wow fadeIn" data-wow-delay="0.9s">
	<div>
		<agm-map [latitude]="centerLat" [longitude]="centerLong" [zoom]="zoom" [mapTypeId]="mapType">
			<agm-marker *ngFor="let store of stores" [latitude]="store.lat" [longitude]="store.long">
				<agm-info-window>
					<h3>{{ store.name }}</h3>
					<p>{{ store.address }}</p>
					<small>{{ store.zipcode }}</small>
				</agm-info-window>
			</agm-marker>
		</agm-map>
	</div>
</aside>