agm-map {
  height: 220px;
}

@media (min-width: 768px){
	agm-map {
	    height: 488px;
	}
}


.success{
	color: rgba(232, 174, 66, 1);
}

.error{
	color: red !important;
}

.zip-err-msg{
	margin: 30px 20px 10px 20px;
	color: white;
	padding: 15px 10px;
	max-width: 420px;
	background: #E3000B;
	border-radius: 5px;
	font-size: 20px;
	margin: 20px auto 0 auto;
}