<div class="page-home">
    
    <div class="wrapper"> 
    	<!-- INTRO BLOCK - Start -->
        <section class="intro block" id="intro-block">
        	
            <app-header></app-header>

            <aside class="intro-box">
            	<h1 class="wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.3s">IS TWIX &amp; KOFFIE DÉ <br />
            	WINNENDE COMBI?</h1>
               
                
            	<div class="ja-btn-block">
    				<a (click)="scrollToElm('combination-hero',500,-65)" title="" 
                    class="wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.5s">
                        <img src="assets/images/ja_left.png" alt=""></a>
    				<a (click)="scrollToElm('combination-hero',500,-65)" title=""
                    class="wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.7s">
                        <img src="assets/images/ja_right.png" alt=""></a>
            	</div>
                <img class="coffee" src="assets/images/coffee.png" alt="coffee">
            </aside>

            <div class="down-dir wow fadeIn" data-wow-duration="0.45s" data-wow-delay="2s" 
            (click)="scrollToElm('combination-hero',500,-65)" 
            >Bekijk de actie <img width="20" src="assets/images/arrow_down.svg" alt=""></div>
        </section>
    	<!-- INTRO BLOCK - End -->


        <!-- START COMBINATION-->
        <section class="combination">
            <div class="combination__hero clearfix" id="combination-hero">
                <div class="combination__text">
                    <h2 class="wow fadeInUp">
                        <strong>TWIX<sup>&reg;</sup></strong> en koffie zijn natuurlijk dé ultieme combinatie.
                    </h2>
                    <p class="wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.2s">Maak kans op een  <strong>SENSEO<sup>&reg;</sup> Viva Café</strong> t.w.v. €84,99 in een van de organiserende Superunie filialen en geniet van jouw eigen <strong>TWIX<sup>&reg;</sup></strong> &amp; koffie momentje thuis.</p>
                </div>
                <figure class="wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.2s">
                    <img class="left-curve-arrow" width="42" src="assets/images/arrow_left.svg" alt="">
                    <img class="hori-center group-senseo" width="325" src="assets/images/senseo_new_pricetag.png" alt="senseo">
                </figure>
            </div>
            <div class="combination__steps" id="combination">
                <h2 class="">WAT MOET JE <br> DAARVOOR DOEN?</h2>

                <div class="combination-row clearfix">

                    <div class="combination__step step-one wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.2s">
                        <img class="hori-center" width="58" src="assets/images/step-1.svg" alt="">
                        <h4>Ga naar een van onderstaande supermarkten:</h4>
                        <p>(Let op: niet alle supermarktfilialen organiseren deze actie. Ga van tevoren eerst bij jouw supermarktfiliaal na of je deel kunt nemen!)</p>
                        <figure>
                            <img class="right-curve-arrow" width="80" src="assets/images/arrow_right.svg" alt="">                       
                            <img class="hori-center" width="330" src="assets/images/supermarkets.png" alt="">
                        </figure>
                    </div>

                    <div class="combination__step step-two wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.4s">
                        <img class="hori-center" width="58" src="assets/images/step-2.svg" alt="">
                        <h4>Koop daar twee <strong>TWIX<sup>&reg;</sup></strong> 5-packs</h4>
                        <p>(als je wil kan je ook een combinatie maken met <span>Snickers<sup>&reg;</sup>, Mars<sup>&reg;</sup></span> of <span>Bounty<sup>&reg;</sup>,</span> maar ja, <strong>TWIX<sup>&reg;</sup></strong> smaakt lekker bij de koffie)</p>
                        <span class="left-curve-arrow"></span>
                        <figure>
                            <img class="left-curve-arrow" width="42" src="assets/images/arrow_left.svg" alt=""> 
                            <img class="hori-center" width="320" src="assets/images/twix_5pack.png" alt="">
                        </figure>
                    </div>

                    <div class="combination__step step-three wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.6s">
                        <img class="hori-center" width="58" src="assets/images/step-3.svg" alt="">
                        <h4>Lever je kassabon voorzien van je naam en telefoonnummer in bij de deelnemende supermarkt en… duimen maar!</h4>
                        <span class="right-curve-arrow"></span>
                        <figure>
                            <img class="right-curve-arrow" width="80" src="assets/images/arrow_right.svg" alt="">
                            <img class="hori-center" width="180" src="assets/images/receipt.svg" alt="">
                        </figure>
                        <p>Als je gewonnen hebt word je door de winkel gecontacteerd. Geniet intussen van je gekochte <strong>TWIX<sup>&reg;</sup></strong>. Met of zonder koffie. </p>  

                        <a href="#" title="">Bekijk hier de actievoorwaarden</a>               
                    </div>

                </div>

            </div>
        </section>
        <!-- END COMBINATION-->

        
        <!-- START STORE LOCATOR-->
        <section class="store-locator" id="store-locator">
            <app-store-locator></app-store-locator>
        </section>
        <!-- END STORE LOCATOR -->


        <!-- START FOOTER-->
        <footer class="footer" id="footer">
            <img class="side-img wow fadeInLeft" data-wow-duration="0.45s" data-wow-delay="1.5s" width="400" src="assets/images/twix_small.png" 
            alt="" >
            <div class="go-top" (click)="scrollToElm('intro-block',500,0)">
                <img width="20" src="assets/images/arrow_up.svg" alt=""></div>
            <p class="footer__disclaimer wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.5s">&copy; 2018 Mars, Incorporated en alle dochterondernemingen. Alle rechten voorbehouden.Deze site bevat informatie, games, advertenties en promotionele aanbiedingen met onze producten. Kinderen moeten toestemming krijgen van een ouder voordat ze een website bezoeken of persoonlijke informatie afgeven. Je moet 18 of ouder zijn om online te winkelen.</p>
            <ul class="footer__menu wow fadeInUp" data-wow-duration="0.45s" data-wow-delay="0.7s">
                <li><a target="_blank" href="https://www.mars.com/global/policies/privacy/pp-dutch" title="">PRIVACY</a></li>
                <li><a target="_blank" href="http://www.mars.com/global/policies/cookie/cn-dutch.aspx?eid=4602" title="">COOKIES</a></li>
                <li><a target="_blank" href="https://www.mars.com/global/policies/legal/ld-dutch" title="">JURIDISCH</a></li>
                <li><a target="_blank" href="http://twix.nl/product/nutrition" title="">VOEDING</a></li>
                <li><a target="_blank" href="https://www.mars.com/global/policies/adchoices?eid=2155" title="">AD CHOICES</a></li>
                <li><a target="_blank" href="http://www.advisory.masterfoods.com/ContactForm.aspx?ContactReason=Query&Market=NL&Language=nl&Brand=twixQuery&WS=www.twix.nl" title="">CONTACT</a></li>
                <li><a target="_blank" href="http://www.mars.com/marsmarketingcode" title="">BELOFTE</a></li>
            </ul>
        </footer>
        <!-- END FOOTER-->

        <!-- AGE GATE COMPONENT -->
        <app-agegate></app-agegate>

    </div>
</div>
