/*==============================================
 CSS Index
================================================
------------------------------------------------*/


/* 1.Reset
==============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
    padding: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    box-sizing: border-box;
}


/* 2.Custom font
==============================================*/
@font-face {
    font-family: 'glowwormmncompressedregular';
    src: url('../fonts/glowworm-condensed/glowwmncom-webfont.eot');
    src: url('../fonts/glowworm-condensed/glowwmncom-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glowworm-condensed/glowwmncom-webfont.woff') format('woff'),
         url('../fonts/glowworm-condensed/glowwmncom-webfont.ttf') format('truetype'),
         url('../fonts/glowworm-condensed/glowwmncom-webfont.svg#glowwormmncompressedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media screen and (-webkit-min-device-pixel-ratio:0) and (-webkit-max-device-pixel-ratio:1) and (min-width: 768px) {
    @font-face {
    font-family: 'glowwormmncompressedregular';
        src: url('../fonts/glowworm-condensed/glowwmncom-webfont.svg#glowwormmncompressedregular') format('svg');
    }
}
@font-face {
    font-family: 'Helvetica LT Std Bold';
    src: url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'),
         url('../fonts/HelveticaLTStd-Bold.woff') format('woff'),
         url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std Roman';
    src: url('../fonts/HelveticaLTStd-Roman.woff2') format('woff2'),
         url('../fonts/HelveticaLTStd-Roman.woff') format('woff'),
         url('../fonts/HelveticaLTStd-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* 3.Common 
==============================================*/
body {
    font-family: 'glowwormmncompressedregular';
    font-size: 14px;
}
.wrapper {
    /*background: url("../images/bg_top.png") no-repeat 0 0 / 100%, url("../images/home-bg.png") repeat-y 0 0 / 100%;*/
    background: url("../images/main-bg.png") no-repeat 0 0 / 100% 100%;
}
body, html {
    /*height: 100%;*/
    -webkit-font-smoothing: antialiased;
}
.page-home .wrapper > section, 
.page-home .wrapper > .footer {
    padding-left:20px;
    padding-right: 20px;
}
a:focus, .btn:focus{
    outline: none;
}
a {
    transition: 0.3s;
}
*:focus {
    outline: none;
    box-shadow:none;
}
strong {
    color: #E3000B;
    font-family: 'glowwormmncompressedregular';
    font-weight: normal;
}

/*superscript*/
h2 sup {
    position: relative;
    top: -4px;
}
/*.sup {
    position: relative;
    padding-right: 12px;
}
.sup > sup {
    position: absolute;
    top: -6px;
    right: -2px;
}
h2 .sup {
    padding-right: 22px;
}
h2 .sup > sup {
    position: absolute;
    top: -7px;
    right: -5px;
}
.sup-xs {
    position: relative;
    padding-right: 10px;
}
.sup-xs > sup {
    position: absolute;
    top: -5px;
    right: -2px;
}*/



.hori-center {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -37px;
}
.btn-inline-block {
    margin-top: 20px;
}
.btn-inline-block > a{ 
    width: 124px;
    height: 28px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    padding: 7px 0px;
}
.btn-inline-block > a.active { 
    /*background: url("../images/btn-bg.png") no-repeat;*/
    background-size: 100%; 
}
.btn {
    transition: all .1s ease;
}
.btn-red {
    background: #E3000B;
    border-radius: 30px;
    box-shadow: 0px 5px 0px rgba(136,7,0,1);
}
.btn-red:hover {
    background: #ca000a;
}
.btn-red:active {
    box-shadow: 0px 3px 0px rgba(136,7,0,1);
    transform: translateY(2px);
}

.btn-xs {
    box-shadow: 0px 3px 0px rgba(136,7,0,1), 0px 3px 10px rgba(0,0,0,.7);
}
.btn-xs:active {
    box-shadow: 0px 1px 0px rgba(136,7,0,1), 0px 1px 3px rgba(0,0,0,.9);
}
/*typography*/
h1 {
    color:#561E04;
    font-size: 32px;
    letter-spacing: -1.2px;
    font-weight: normal;
}
h2{
    color: #561E04;
    font-size: 34px;
    font-weight: normal;
}
h3{
    color: #561E04;
    font-size: 28px;
    letter-spacing: -1.2px;
    font-weight: normal;
}
h4 {
    font-size: 21px;
    color: #E3000B;
    line-height: 24px;
    font-weight: normal;
}
p{
    font-size: 14px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*Placeholder*/
::-webkit-input-placeholder { 
  color: rgba(67, 41, 23, 0.35);
  font-size: 32px;
  font-family: 'glowwormmncompressedregular';
  opacity: 1;
}
::-moz-placeholder { 
  color: rgba(67, 41, 23, 0.35);
  font-size: 32px;
  font-family: 'glowwormmncompressedregular';
}
:-ms-input-placeholder { 
  color: rgba(67, 41, 23, 0.35);
  font-size: 32px;
  font-family: 'glowwormmncompressedregular';
}
:-moz-placeholder { 
  color: rgba(67, 41, 23, 0.35);
  font-size: 32px;
  font-family: 'glowwormmncompressedregular';
}

/*For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/*Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Start :: Age gate
=====================================================================*/
.age-gate-wrapper {
    padding:20px 20px 40px 20px;
    background: rgba(86, 30, 4, 0.8);
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.age-gate-wrapper__top {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 38px;
    padding: 74px 15px 30px 15px;
    margin-bottom: 20px;
    background: #ebb648; /* Old browsers */
    background: -moz-linear-gradient(left, #ebb648 0%, #ebba4d 8%, #eec157 16%, #efc25a 16%, #eec55f 18%, #f2cf6e 23%, #f2d679 26%, #faeca1 36%, #faed9f 36%, #fdf3ac 41%, #fcf4ac 42%, #fff6b1 43%, #fdf6b0 44%, #fff6b3 44%, #fef7b1 45%, #fff9b5 47%, #fff8b7 51%, #fef5b0 58%, #fcf4ac 59%, #fbefa5 64%, #faeea2 64%, #faea9c 67%, #f7e28f 69%, #f6de88 72%, #f3db81 73%, #f4db81 74%, #f2d87b 75%, #f3d67a 76%, #f2d376 76%, #f3d273 78%, #f0d272 78%, #eec35b 85%, #edbc53 91%, #ebbb4f 92%, #edba4f 94%, #ebb749 97%, #ebb548 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ebb648 0%,#ebba4d 8%,#eec157 16%,#efc25a 16%,#eec55f 18%,#f2cf6e 23%,#f2d679 26%,#faeca1 36%,#faed9f 36%,#fdf3ac 41%,#fcf4ac 42%,#fff6b1 43%,#fdf6b0 44%,#fff6b3 44%,#fef7b1 45%,#fff9b5 47%,#fff8b7 51%,#fef5b0 58%,#fcf4ac 59%,#fbefa5 64%,#faeea2 64%,#faea9c 67%,#f7e28f 69%,#f6de88 72%,#f3db81 73%,#f4db81 74%,#f2d87b 75%,#f3d67a 76%,#f2d376 76%,#f3d273 78%,#f0d272 78%,#eec35b 85%,#edbc53 91%,#ebbb4f 92%,#edba4f 94%,#ebb749 97%,#ebb548 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ebb648 0%,#ebba4d 8%,#eec157 16%,#efc25a 16%,#eec55f 18%,#f2cf6e 23%,#f2d679 26%,#faeca1 36%,#faed9f 36%,#fdf3ac 41%,#fcf4ac 42%,#fff6b1 43%,#fdf6b0 44%,#fff6b3 44%,#fef7b1 45%,#fff9b5 47%,#fff8b7 51%,#fef5b0 58%,#fcf4ac 59%,#fbefa5 64%,#faeea2 64%,#faea9c 67%,#f7e28f 69%,#f6de88 72%,#f3db81 73%,#f4db81 74%,#f2d87b 75%,#f3d67a 76%,#f2d376 76%,#f3d273 78%,#f0d272 78%,#eec35b 85%,#edbc53 91%,#ebbb4f 92%,#edba4f 94%,#ebb749 97%,#ebb548 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb648', endColorstr='#ebb548',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 3px 6px #B1954A;
}
.age-gate-wrapper__top > h2 {
    margin-bottom: 12px;
    font-size: 28px;
}
.age-gate-wrapper__top p {
    color: #561E04;
    font-family: 'Helvetica LT Std Roman';
    line-height: 20px;
}
.age-gate-wrapper__top p strong{
    color: #561E04;
    font-family: 'Helvetica LT Std Bold'; 
}
.age-gate-wrapper__top p a{
    color: #561E04;
    font-weight: bold;
}
.age-gate-wrapper__top p a {
    font-family: 'Helvetica LT Std Bold';
}
.age-gate-wrapper__top form {
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.age-gate-wrapper__top form > input {
    display: inline-block;
    width: calc(33.33% - 5px);
    margin: 5px 0;
    border: 0;
    text-align: center;
    height: 50px;
    border-radius: 30px;
    color: rgba(67, 41, 23, 0.35);
    font-size: 32px;
    font-family: 'glowwormmncompressedregular';
    line-height: 50px;
}
.age-gate-wrapper__top form button {
    height: 51px;
    width: 221px;
    margin: 10px auto 0 auto;
    border: none;
    color: #FFFAB6;
    font-size: 24px;
    background-size: 100%;
    font-family: 'glowwormmncompressedregular';
    cursor: pointer;
}
.age-gate-wrapper__bottom p {
    color: #fff;
    font-family: 'Helvetica LT Std Roman';
    line-height: 20px;
}
.age-gate-wrapper__bottom p a{
    color: #e8ae42;
    text-decoration: none;
}
.modal-open {
    overflow: hidden;
}
@media all and (max-height:568px) {

    .age-gate {
       height: 100%;
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 99;
       overflow-x: hidden;
       overflow-y: auto;; 
    }
}
@media all and (min-width: 768px) {

    .age-gate-wrapper__top{
       max-width: 640px;
       margin-left: auto;
       margin-right: auto;
    }
}
/* End :: Age gate
==============================================================================*/



/*==========================================================================================
Start::Home
============================================================================================*/
.page-home {
    height: 100%;
}
.nav-btn-group {
    width: 38px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.nav-btn-group span{
    width: 38px;
    height: 8px;
    background: url("../images/hamburger-stick.png") no-repeat 0 0/ 100%;
    display: block;
    margin-bottom: 5px;
}

.nav-btn-close {
    width: 38px;
    height: 34px;
    position: absolute;
    top: 36px;
    right: 21px;
    cursor: pointer;
}
.nav-btn-close span{
    width: 38px;
    height: 8px;
    background: url("../images/hamburger-stick-white.png") no-repeat 0 0 / cover;
    display: block;
    margin-bottom: 5px;
    position: fixed;
    top: 37px;
    right: 20px;
    opacity: 0;
    /*transition: opacity 1s;*/
}
.nav-btn-close span:last-child {
    transform: rotate(45deg);
}
.nav-btn-close span:first-child {
    transform: rotate(-45deg);
}

/*Start :: Intro
==================================================*/
.intro { 
    padding: 30px;
    height: 100%;
    position: relative;
}
.intro .logo {
    top: 15px;
    z-index: 99;
}
.down-dir {
    font-size: 21px;
    color: #561E04;
    letter-spacing: -0.5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    cursor: pointer;
}
.down-dir > img{
    margin: 7px auto 0 auto;
    display: block;
}

@media all and (max-height:640px) {
    .intro {
        /*height: auto !important;*/
    }
    .down-dir {       /*
        text-align: center;
        background-position: center 50px;*/
    }
}
.intro  header {
    position: relative;
} 
.nav-btn {
    position: absolute;
    right: 0;
    top: 0; 
    cursor: pointer;
} 


/*Main navigation*/
.main-nav {
    height: 100%;
    width: 285px;
    background: url("../images/bg_menu.jpg") no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -285px;
    top: 0;
    padding: 30px 35px;
    transition: 0.3s;
    z-index: 999;
}
.main-nav.open {
    right: 0;
}
.main-nav .nav-close {
    position: absolute;
    right: 24px;
    top: 23px;
    cursor: pointer;
}
.main-nav ul {
    margin: 70px 0 0 0;
}
.main-nav li a {
    text-decoration: none;
    color: #FFFAB6;
    font-size: 25px;
    margin-bottom: 18px;
    display: inline-block;
    cursor: pointer;
}
.main-nav li a:hover,
.main-nav li.active a{
    color: #e8ae42;
}

/*intro box*/
.intro-box {
    max-width: 310px;
    min-height: 439px;
    margin: 87px auto 0 auto;
    background: url("../images/twix_card.jpg") no-repeat;
    padding: 50px 0 0 0;
    position: relative;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(177, 149, 74, 0.84);
    transition: 0.3s;
}

.intro-box h1 {
    text-align: center;
}
img.koffe-bg {
    position: absolute;
    left: -145px;
}

.ja-btn-block {
    /*z-index: 9;*/
    position: relative;
    max-width: 182px;
    margin: 54px auto 0 auto;
}
.ja-btn-block > a {
    cursor: pointer;
    display: block;
    margin: 0 0 18px 0;
}
.ja-btn-block > a img{
    max-width: 100%;
}
.coffee {
	display: none;
}
@media all and (min-width: 768px) {
	.intro-box {
		max-width: 350px;
		min-height: 400px;
		background: url("../images/intro-bg.png") no-repeat;
	    background-size: 100% 100%;
	    margin: 40px auto 0 auto;
	    padding: 94px 0 0 0;
	}
	.intro .logo {
	    top: 2px;
	}
	.coffee {
	    display: block;
	    position: absolute;
	    left: -139px;
	    top: auto;
	    width: 250px;
	    bottom: -54px;
	    transition: 0.3s;
	}
	.down-dir {
	    position: relative;
	    bottom: 0;
	    max-width: 120px;
	    text-align: center;
	    margin: 40px 0 0 0;
	}
	.ja-btn-block {
        margin: 40px auto 0 auto;
	}
}

@media all and (min-width: 992px) { 
	.intro-box {
	    max-width: 550px;
    	min-height: 450px;
	}	
	.coffee {
	    left: -192px;
	    width: 380px;
	    bottom: -65px;
	}	
}
@media all and (min-width: 1440px) {
	.main-nav {
		right: 0;
		background: transparent;
	    text-align: right;
	    padding: 85px 27px 0 0;
    	width: 230px;
	}
    .nav-btn-group{
        display: none;
    }

    /* desktop single bar */
    .nav-menu{
        position: relative;
    }
    .nav-menu:before{
        content: "";
        position: absolute;
        top: -25px;
        right: 0;
        width: 38px;
        height: 8px;
        background: url("../images/hamburger-stick.png") no-repeat 0 0/ 100%;
        display: block;
    } 

	.nav-btn-close {
	    top: 68px;
	    right: 30px;
        display: none;
	}
	.main-nav .nav-btn-close {
		/*display: none;*/
	}
	.main-nav li a:hover, 
	.main-nav li.active a {
	    color: #de1b00;
	}
	.main-nav li a {
	    font-size: 21px;
	    margin-bottom: 15px;
	}
	.nav-btn-group > span {
		display: none;
	}
	.main-nav ul {
	    margin: 10px 0 0 0;
	}
	.nav-btn-group {
        top: 39px;
    	right: 3px;
	}	
	.nav-btn-close span {
	    width: 38px;
	    height: 8px;
	    background: url(../images/hamburger-stick.png) no-repeat 0 0 / 100%;
	    display: block;
	    margin-bottom: 5px;
	    position: absolute;
	}	
	.nav-btn-close span:last-child {
		display: none;
	}
	.nav-btn-close span:first-child {
	    transform: rotate(0deg);
	}
}

@media all and (min-width: 1120px) {
	.intro-box {
		max-width: 670px;
		min-height: 465px;
	}
	.ja-btn-block {
		max-width: 208px;
	}
	.ja-btn-block img{
		width: 100%;
	}
	.coffee {
	    left: -232px;
	    width: 440px;
	    bottom: -70px;
	}

}
/*End :: Intro
==========================================*/




/*Start :: Combination
==========================================*/
.page-home .wrapper .combination {
    margin-bottom: 60px;
    text-align: center;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.combination p {
    font-family: 'Helvetica LT Std Roman';
}
.combination__hero {
    margin: 32px 0 0px 0;
}
.combination__hero h2 {
    margin: 0 0 25px 0; 
}
.combination__hero  p {
    font-size: 16px;
    line-height: 26px;
    color: #561E04; 
}
.combination__hero  p  strong {
    font-size: 21px;
}
.combination__hero  {
    margin: 10px 0 0px 0;
    position: relative;
}
.combination__steps > h2 {
    margin-bottom: 15px;
}
.combination__step figure {
    position: relative;
    display: inline-block;
}
.combination__step h4 {
    margin: 0 0 30px 0;
}
.combination__step.step-three > a {
    font-size: 14px;
    color: rgba(86, 30, 4, 1);
    font-family: 'Helvetica LT Std Bold';
    display: inline-block;
    margin: 24px 0 0 0;
}
.step-one .right-curve-arrow {
    position: absolute;
    right: 20px;
    top: -20px;
}
.step-one figure{
    margin-bottom: 22px;
}
.step-two .left-curve-arrow {
    position: absolute;
    left: 62px;
    top: -12px;;
}
.step-two figure {
    margin-top: 28px;
}
.step-three p {
    line-height: 21px;
    font-size: 14px;
    color: rgba(86, 30, 4, 1);
}
.step-three p strong {
    font-size: 16px;
}
.step-three figure {
    margin-top: 15px;
}
.step-three .right-curve-arrow {
    position: absolute;
    right: -58px;
    top: -34px;
}
.step-two p {
    font-size: 14px;
    line-height: 21px;
}
.combination__hero figure {
    position: relative;
    display: inline-block;
}
.combination__hero .left-curve-arrow{
    position: absolute;
    left: 70px;
    top: 11px;
}
.combination__step.step-two h4 {
	margin-bottom: 4px;
}
.combination__step.step-two p span{
	font-family: 'Helvetica LT Std Bold';	
}
.combination__step.step-two p {
	color: #561E04;	
}


@media all and (min-width: 768px) {
	.combination__hero {
		max-width: 850px;
		margin: 0 auto;
		text-align: left;
		padding: 22px 0 34px 0;
	}
	.combination__text {
		float: left;
		width: 335px;
	}
	.combination__hero figure {
		float: left;
		width: 380px;
	    margin: -85px 0 0 0;
	}
	.combination__hero figure .group-senseo{
		width: 440px;
	}
	.combination__hero .left-curve-arrow {
	    position: absolute;
	    left: -20px;
	    top: 255px;
	    transform: rotate(-60deg);
	}
	.combination__hero h2 {
	    font-size: 44px;
	}
	.combination__hero p {
	    padding-right: 40px;
	}
	.combination-row  {
		max-width: 1040px;
		margin: 0 auto;
	}
	.combination-row  .combination__step {
		float: left;
		width: calc(33.33% - 30px);
		margin: 0 15px;
	}
    .combination__steps > h2 br{
        display: none;
    }
	.combination__step h4 {
	    margin: 0 0 10px 0;
        letter-spacing: -0.5px;
	}
	.step-two figure {
	    margin-top: 70px;
	}
	.step-two .left-curve-arrow {
	    top: -42px;
        width: 28px;
	}
	.step-three figure {
	    margin-top: 70px;
	}
	.step-three .right-curve-arrow {
        top: -63px;
	    width: 55px;
	    right: 0px;
	}
	.step-one .right-curve-arrow {
	    right: 20px;
	    top: -13px;
	    width: 50px;
	}
}

@media all and (min-width: 992px) {
	.combination__hero figure {
		width: 515px;
	}
	.step-one .right-curve-arrow {
	 	width: 80px;
	 }
	.step-two .left-curve-arrow {
	    width: 42px;
	}
	.step-three .right-curve-arrow {
	    top: -70px;
	    width: 80px;
	    right: -43px;
	}
}
/*End :: Combination
==========================================*/





/*Start :: Store Locator
==========================================*/
.store-locator {
    text-align: center;
}
.store-locator h2 {
    text-align: center;
    margin-bottom: 15px;
}
.store-locator form {
    max-width: 301px;
    margin: 0 auto;
}
.store-locator form label {
    display: block;
    max-width: 200px;
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 24px;
    color: #561E04;
}
aside.store-locator__map {
    width: calc(100% - 40px);
    min-height: 220px;
    background: #fff;
    margin: 30px auto 0 auto;    
    border-radius: 8px;
    padding: 3px;
    overflow: hidden;
}
.store-locator__map > div {
	border: 3px solid rgba(234, 0, 0, 1);
	border-radius: 8px;
	min-height: 220px;
    overflow: hidden;
}
.store-locator button {
    height: auto;
    width: 100px;
    border: none;
    font-size: 24px;
    color: rgba(255, 250, 182, 1);
    font-family: 'glowwormmncompressedregular';
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 12px 0px 10px 0px;
}
.store-locator input[type="text"] {
    height: 50px;
    border-radius: 30px;
    border: none;
    text-align: center;
    padding: 14px 0;
    font-size: 24px;
    font-family: 'glowwormmncompressedregular';
    color: rgba(232, 174, 66, 1);
    box-shadow: 0px 5px 0px rgba(232, 174, 66, 1);
    -webkit-box-shadow: 0px 5px 0px rgba(232, 174, 66, 1);
    transition: 0.3s;
    width: 196px;
    -webkit-appearance: none;
}
.store-locator input[type="text"]:focus {
    box-shadow: 0px 3px 0px rgba(232, 174, 66, 1);
}
.store-locator input[type="text"]::-webkit-input-placeholder { 
    color: rgba(232, 174, 66, 1);
    font-size: 24px;
    font-family: 'glowwormmncompressedregular';
    opacity: 1;
}
.store-locator input[type="text"]::-moz-placeholder { 
    color: rgba(232, 174, 66, 1);
    font-size: 24px;
    font-family: 'glowwormmncompressedregular';
    opacity: 1;
}
.store-locator input[type="text"]:-ms-input-placeholder { 
    color: rgba(232, 174, 66, 1);
    font-size: 24px;
    font-family: 'glowwormmncompressedregular';
    opacity: 1;
}
.store-locator input[type="text"]:-moz-placeholder { 
    color: rgba(232, 174, 66, 1);
    font-size: 24px;
    font-family: 'glowwormmncompressedregular';
    opacity: 1;
}

@media all and (min-width: 768px) { 
	aside.store-locator__map {
	    width: 100%;
	    min-height:495px;
	    max-width: 490px;
	}
	.store-locator__map > div {
	    min-height: 488px;
	}
}

@media all and (max-width: 360px) { 
    .store-locator input[type="text"] {
        margin-bottom: 10px;
    }
}

/*End :: Store Locator
==========================================*/





/*Start :: Footer
==========================================*/
.footer {
    text-align: center;
    padding:  135px 0 70px 0;
    background: url("../images/footer-bg.png") no-repeat 0 0 / 100% 100%;
    margin-top: 180px;
    position: relative;
}
.footer__disclaimer {
    color: #fff;
    font-family: 'Helvetica LT Std Roman';
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    text-indent: 20px;
    letter-spacing: 0.5px;    
}
img.side-img {
    position: absolute;
    left: -163px;
    top: -185px;
    width: 400px;
}
ul.footer__menu {
    margin-top: 22px;
}
.footer__menu li {
    display: inline-block;
}
.footer__menu li a{
    color: #FFFAB6;
    font-size: 16px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.footer__menu li a:hover {
    text-decoration: underline;
}
.footer__menu li a:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    right: -7px;
    top: 4px;
    background: #FFFAB6;
}
.footer__menu li:last-child a:after {
    opacity: 0;
}
.go-top {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    padding: 15px;
    cursor: pointer;
}
@media all and (min-width: 768px) {
	img.side-img {
	    left: -160px;
	    top: -277px;
	    width: 500px;
	}
	.footer__disclaimer {
	    padding: 0 100px;
	}
    .footer {
        padding: 85px 0 70px 0;
     }
}
@media all and (min-width: 1024px) {
    img.side-img {
        left: -249px;
        top: -469px;
        width: 700px;
    }
	.go-top {
        display: none;
    }
}

@media all and (min-width: 1515px) {

}

/*End :: Footer
========================================== 