<section class="age-gate" [ngClass]="(cookie==true)?'hide-overlay':'show-overlay'">
    <div class="age-gate-wrapper">
        <div class="age-gate-wrapper__top">
            <a class="logo" href="#" title=""><img width="165" src="assets/images/logo.svg" alt="logo"></a>
            <h2>VUL JE GEBOORTEDATUM IN:</h2>
            <p><strong>Onze belofte:</strong> In lijn met onze marketingcode vinden wij het als producent belangrijk om je leeftijd te weten zodat wij op een verantwoorde manier onze producten kunnen promoten.</p>
            <form id="agegate" name='agegate'>

                <input type="number" name="day" id="day" placeholder="DD" tabindex="1" 
                (input)="limitChars($event.target,2); dayComplete($event.target,'month');" 
                (blur)="addZero($event.target)" autocomplete="off" required>

                <input type="number" name="month" id="month" placeholder="MM" tabindex="2"
                (input)="limitChars($event.target,2); dayComplete($event.target,'year');" 
                (blur)="addZero($event.target)" autocomplete="off" required>

                <input type="number" name="year" id="year" placeholder="JJJJ" tabindex="3"
                (input)="limitChars($event.target,4);" (blur)="validateYear($event.target);" (keydown.enter)="validateYear($event.target);" autocomplete="off" required>

                <!-- <input type="hidden" name="year" id="year" [value]="yearVal" required> -->
                
                <button class="btn btn-red" type="submit">VERDER</button>

            </form>
            <p>Meer informatie over de Mars Marketing Code en hoe we onze producten promoten? <a href="https://www.mars.com/global/about-us/policies-and-practices/marketing-code" target="blank" title=""> Klik hier</a></p>
            <div class="errors" *ngIf="hasError">{{ errorMsg.refuse }}</div>
            <div class="errors" *ngIf="!isValid">{{ errorMsg.invalid }}</div>
        </div>
<!--         <div class="age-gate-wrapper__bottom">
        	<app-cookie-consent></app-cookie-consent>
        </div> -->
    </div>
</section>