.errors{
	background: #E3000B;
	padding: 15px;
	color: #fff;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 20px;
}
.hide-overlay{
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s 0.4s, opacity 0.4s linear;
}
.show-overlay{
	visibility: visible;
	opacity: 1;
}

