<div class="cookie-msg" *ngIf="acted==false">
    <p>
        <strong>Over cookies en privacy op deze website:</strong> Door te blijven navigeren op deze site, accepteert u het gebruik van cookies en gaat u akkoord met onze privacy policy. Meer informatie vindt u in onze<br/> <a href="#" title=""> Cookie Notice</a> en <a href="#" title="">Privacy Policy.</a>
    </p>
    <div class="btn-inline-block">
        <a class="btn btn-red btn-xs" href="#" title="" (click)="hideCookieMsg($event, true)">IK GA AKKOORD</a>
        <a class="btn" href="#" title="" (click)="hideCookieMsg($event, false)">COOKIES WEIGEREN</a>
    </div>
</div>
