.age-gate{
	visibility: hidden;
}
.page-loading *,
.page-loading *:before,
.page-loading *:after {
	opacity: 0;
	animation-play-state: paused !important;
}

/* NAV ANIMATION */



.menu-open {
    overflow: hidden;
}
.nav-btn-group{
	transition: opacity 0.5s, transform 0.5s;
	z-index: 9995;
	opacity: 1;
    top: 15px;
    right: 15px;
	transition: opacity 1.2s;
}
.modal-open .nav-btn-group{
	z-index: -1;
	opacity: 0;
	transition: opacity 1.2s;
}

.nav-btn-group span{
	opacity: 1;
	transition: opacity 0.5s, transform 0.5s;
}
.nav-btn-group.anim{
    position: fixed;
    top: 15px;
    right: 15px;
}
.nav-btn-group.anim span{
	opacity: 1;
	transform: rotate(0deg);
	position: absolute;
	transition: opacity 0.5s, transform 0.5s;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(255,234,0,0.61);
	-moz-box-shadow: 0px 0px 5px 0px rgba(255,234,0,0.61);
	box-shadow: 0px 0px 5px 0px rgba(255,234,0,0.61);	
}
.nav-btn-group.anim span:first-child{
	opacity: 0;
	transform: rotate(-45deg);
}
.nav-btn-group.anim span:nth-child(2){
	opacity: 0;
}
.nav-btn-group.anim span:last-child{
	opacity: 0;
	transform: rotate(45deg);
}

/* for close button */

.nav-btn-close.anim {
	opacity: 1;
	z-index: 9996;
}

.nav-btn-close.anim span{
    opacity: 1;
    position: fixed;
    top: 25px;
    right: 15px;
    transition: opacity 1.5s;
}
/*Client feedback*/
.combination__step.step-one p {
    color: #561E04;
    margin-bottom: 30px;
}
.step-one p {
    font-size: 14px;
    line-height: 21px;
}
.sticky-header .sticky-logo {
	display: none;
}
/* STICKY HEADER */
@media all and (max-width: 1440px) {

	/*sticky header*/
	.sticky-header{
	    position: fixed;
	    width: 100%;
	    left: 0;
	    top: 0px;
	    background: rgba(238,198,96,0);
	    height: 60px;
	    z-index: 9999;
	    box-shadow: 0 0 10px rgba(0,0,0,0);
	    transition: all 0.25s;
	}

	.sticky-header.in{
		top: 0px;
		background: rgba(238,198,96,0.95);
		box-shadow: 0 0 10px rgba(0,0,0,0.15);
		transition: all 0.25s;
	}

	.sticky-header.in .nav-btn-group span{
		margin-bottom: 3px;
		transition: all 0.25s;
	}

	.sticky-header.in .sticky-logo {
		visibility: visible;
		opacity: 1;
		transition: all 0.25s;
	}

	.sticky-header .sticky-logo {
	    margin: 7px 0 0 15px;
	    display: inline-block;
		visibility: hidden;
		opacity: 0;	    
	    transition: all 0.25s;
	}

}
.combination__hero p {
    font-size: 18px;
}

/* SENSEO ARROW FIX FOR SMALL DEVICE */
@media all and (max-width: 360px) {
	.combination__hero .left-curve-arrow{
		left: 50px;
	}
	.step-two .left-curve-arrow{
		top: -20px;
	}
}
@media all and (min-width: 1024px) {
    img.side-img {
        left: -110px;
        transition: 0.3s ease-in-out;
    }
    .page-home .wrapper > .footer {
    	padding-left:250px;
    	padding-right:250px 
    }
    .footer__disclaimer {
	    padding: 0px;
	}
}
@media all and (min-width: 1025px) and (max-width: 1515px) {
	img.side-img {
	    left: -60px;
    	top: -245px;
    	width: 400px;
	}
	.page-home .wrapper > .footer {
	    padding-left: 120px;
	    padding-right: 120px;
	}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
	.page-home .wrapper > .footer {
	    padding-left: 60px;
	    padding-right: 60px;
	}
	img.side-img {
	    left: -45px;
	    top: -187px;
	    width: 300px;
	}
	.footer__disclaimer {
	    padding: 0;
	}
}
@media all and (max-width: 767px) {
	.footer{
		margin-top: 210px;
		padding-top: 120px;
	}
	img.side-img {
	    left: -63px;
	    top: -201px;
	    width: 350px;
	}
	.intro {
	    padding: 30px 30px 80px 30px;
	}
}
@media (max-width: 414px) {
	.footer{
		margin-top: 280px;
	}
	.go-top {
	    top: -250px;
	}
}


/*Without Store locator */
.store-locator {
	display: none;
}
.footer {
	margin-top: 360px;
}

@media (min-width: 1516px) and (max-width: 1730px) {
	.footer {
		margin-top: 445px;
	}	
}

@media (max-width: 1024px) and (min-width: 768px){
	.page-home .wrapper > .footer {
	   margin-top: 220px;
	}
}
@media (max-width: 1515px) and (min-width: 1025px) {
	.page-home .wrapper > .footer {
	   margin-top: 250px;
	}	
}
@media (max-width: 767px) {
	.footer {
	    margin-top: 260px;
	}
}
@media (min-width: 768px) {
	.combination__step h4 {
	    margin: 0 0 4px 0;
	}
}